html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 30px;
    overflow-x:hidden;
}

a {
    all: unset;
}

p {
    color: #6E7191;
}

.header {
    margin-bottom: 32px;
}

.container {
    margin: 0 auto;
    max-width: 1270px;
    padding: 0 15px;
    margin-bottom: 240px;
}

h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: #211F54;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    font-size: 18px;
    color: #211F54;
}

.logo-title {
    margin-right: 40px;
}

.header-menu {
    display: flex;
    align-items: center;
}

.logo-block {
    display: flex;
}

.header-menu-list {
    display: flex;
    list-style-type: none;
}

.header-menu-item {
    margin-right: 22px;
}

.get-free-quote {
    display: flex;
    align-items: center;
}

.get-free-quote-text {
    margin-right: 40px;
}

.get-free-quote-btn {
    width: 174px;
    height: 54px;
    background: #0075FF;
    border: none;
    border-radius: 14px;
    color: #fff;
    margin-right: 28px;
    font-size: 17px;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-text {
    width: 590px;
}

h1 {
    font-size: 68px;
    line-height: 74px;
    color: #211F54;
    font-weight: 700;
    width: 520px;
    margin-bottom: 22px;
}

.description {
    margin-bottom: 34px;
}

.contacts {
    display: flex;
}

.phone-img {
    width: 71px;
    height: 71px;
    margin-right: 16.5px;
}

.callUs {
    font-size: 16px;
    line-height: 18px;
}

.phone-number {
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    color: #211F54;
}

.girl {
    /* position: absolute;
    z-index: -1;
    right: 0;
    top: 15%; */
}

.about-service {
    display: flex;
    justify-content: center;
}

.how-works {
    text-align: justify;
    text-align: center;
    width: 650px;
    margin-bottom: 58px;
}

.service {
    margin: 0 86px;
}

.benefits {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 57px;
}

.benefit-header {
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    color: #211F54;
    margin-bottom: 16px;
}

/* .schedule, .online-pay, .house-cleaned {
    width: 412px;
} */

.how-works-title {
    margin-bottom: 20px;
}

.benefits-img {
    margin-bottom: 39px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.explore-services {
    width: 174px;
    height: 54px;
    background: #EFF0F6;
    border: none;
    border-radius: 14px;
    color: #211F54;
    margin-right: 28px;
    font-size: 17px;
}